@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Open+Sans+Condensed:300|Spectral+SC:700');
@import '../../../node_modules/balloon-css/balloon.min.css';
body{
    header{
        background-color:#E0162B;
        h1{
            font-family: 'Spectral SC', serif;
            text-transform:capitalize;
            font-size:40px;
            color:white;
            margin:0px;
            padding:5px 20px;
        }
    }
    section{
       display:flex;
       flex:1;
       justify-content: center;
       background-color:#191919;
       padding-top:20px;
       padding-bottom:20px;
    }
    .grid_wrapper{
        display:grid;
        position:relative;
        grid-template-columns: repeat(50, 1.92vw);
        grid-auto-rows: 1.92vw;

        .grid_square{
            border-right:solid 1px black;
            border-bottom:solid 1px black;
            
            // First 50
            &:nth-child(-n+50){
                border-top:solid 3px black;
            }
            //Every 50, starting at 1
            &:nth-child(50n+1){
                border-left:solid 3px black;
            }
            // Every 50, starting at 50
            &:nth-child(50n){
                border-right:none;
            }
            // Last 50
            &:nth-child(n+2451){
                border-bottom:solid 3px black;
            }
            // Every 25
            &:nth-child(25n){
                border-right:solid 3px black;
            }
            //1250 - 1300
            &:nth-child(n+1251):nth-child(-n+1300){
                border-top:solid 3px black;
            }
            
        }
    }

    .grid_square_person{
        background: red;
        position: absolute;
        width:100%;
        height:100%;
        cursor:pointer;
        box-shadow:0px 0px 3px #E0162B;
        background-size:cover;
        &:hover{
            box-shadow:0px 0px 9px #E0162B;
            width:150%;
            height:150%;
            margin-left:-25%;
            margin-top:-25%;
            z-index:10;
        }
    }

    footer{
        background:#0052A5;
    }
}