@import url('https://fonts.googleapis.com/css?family=Abel|Libre+Baskerville:400,700|Open+Sans:400,700|Yanone+Kaffeesatz:400,700');
body{
    margin:0px;
    font-family: 'Yanone Kaffeesatz';
    header{
        background-color:#E8E8E8;
        display:block;
        text-align:center;
        h1{
            font-weight:normal !important;
            font-size:40px;
            color:#282828;
            margin:0px;
            padding:5px 20px;
            display:block;
            width:100%;
            line-height:72px;
        }
        
        #controlsContainer{
            display:block;
            text-align:left;
            background-color:#DCDCDC;
            select{
                padding:5px 10px;
            }
            & > div{
                padding-left:20px;
            }
        }
    }
    section{
       display:flex;
       flex:1;
       justify-content: center;
       background-color:#191919;
       padding-top:45px;
       padding-bottom:45px;
    }
    .grid_wrapper{
        display:grid;
        position:relative;
        grid-template-columns: repeat(50, 1.82vw);
        grid-auto-rows: 1.82vw;

        .grid_label{
            color:#484848;
            text-transform:uppercase;
            font-size:2em;
            position:absolute;
            font-family: 'abel';
        }
        .grid_label_left{
            left:-70px;
            top:50%;
            transform: rotate(-90deg);
            margin-top:-25px;
        }
        .grid_label_right{
            right:-115px;
            top:50%;
            transform: rotate(90deg);
            margin-top:-20px;
        }
        .grid_label_top{
            left:50%;
            top:-40px;
            margin-left:-90px;
        }
        .grid_label_bottom{
            left:50%;
            bottom:-43px;
            margin-left:-77px;
        }
        .grid_square{
            border-right:solid 1px black;
            border-bottom:solid 1px black;
            
            // First 50
            &:nth-child(-n+50){
                border-top:solid 3px black;
            }
            //Every 50, starting at 1
            &:nth-child(50n+1){
                border-left:solid 3px black;
            }
            // Every 50, starting at 50
            &:nth-child(50n){
                border-right:none;
            }
            // Last 50
            &:nth-child(n+2451){
                border-bottom:solid 3px black;
            }
            // Every 25
            &:nth-child(25n){
                border-right:solid 3px black;
            }
            //1250 - 1300
            &:nth-child(n+1251):nth-child(-n+1300){
                border-top:solid 3px black;
            }
            
        }
    }

    .grid_square_person{
        background: red;
        position: absolute;
        width:100%;
        height:100%;
        cursor:pointer;
        box-shadow:0px 0px 3px #E0162B;
        background-size:cover;
        &:hover{
            box-shadow:0px 0px 9px #E0162B;
            width:150%;
            height:150%;
            margin-left:-25%;
            margin-top:-25%;
            z-index:10;
        }
    }
    
    ul#tweetList{
        li{
            margin-bottom:10px;
            a{
                color:#0EBFE9;
            }
        }
    }

    footer{
        background:#E8E8E8;
        text-align:center;
        color:#282828;
        padding:20px;
        display:flex;
        flex:1;
        flex-direction:column;
        align-items:center;
        div{
            padding:10px;
        }
    }


}

@media(min-width : 620px){
    body{
        header{
            display:flex;
            h1{
                font-weight:normal !important;
                font-size:40px;
                color:#282828;
                margin:0px;
                padding:5px 20px;
                display:flex;
                flex:.7;
            }

            #controlsContainer{
                display:flex;
                flex:.3;
                justify-content:right;
            }
        }
    }
}

@media(min-width : 920px){
    body{
        .grid_wrapper{
            grid-template-columns: repeat(50, 1.5vw);
            grid-auto-rows: 1.5vw;
        }
        .modal-container{
            width: 75% !important;
            max-width: 768px !important;
        }
    }
}

@media(min-width : 1120px){
    body{
        .grid_wrapper{
            grid-template-columns: repeat(50, 1.2vw);
            grid-auto-rows: 1.2vw;
        }
    }
}

@media(min-width : 1320px){
    body{
        .grid_wrapper{
            grid-template-columns: repeat(50, 1.0vw);
            grid-auto-rows: 1.0vw;
        }
    }
}